body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
#map {
    height: 600px;
    width: 100%;
    margin: auto;
    display: none; /* Initially hide the map */
}
.container {
    padding: 20px;
}
h1 {
    color: #333;
}
.back-link {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4285F4;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.view-link{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4285F4;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.back-link:hover {
    background-color: #357AE8;
}
.button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4285F4;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button:hover {
    background-color: #357AE8;
}